div.pano_layer
	div.pano_black_layer
		div.row
			h3 style="color: #fff;" 2014
			- @panoramas_2014.each do |panorama|
			  div.pano_grow.pano_pic
				a href="/panoramas/#{panorama.path}"
		        	img src="#{panorama.img_path}"		    				
		div.row
			h3 style="color: #fff;" 2013
			- @panoramas_2013.each do |panorama|
			  div.pano_grow.pano_pic
				a href="/panoramas/#{panorama.path}"
		          img src="#{panorama.img_path}"		    
		div.row
			h3 style="color: #fff;" 2012
			- @panoramas_2012.each do |panorama|
			  div.pano_grow.pano_pic
				a href="/panoramas/#{panorama.path}"
		          img src="#{panorama.img_path}"		    
		div.row
			h3 style="color: #fff;" 2011
			- @panoramas_2011.each do |panorama|
			  div.pano_grow.pano_pic
				a href="/panoramas/#{panorama.path}"
		          img src="#{panorama.img_path}"
