div.row style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;"
  div.two.columns
    nav#sidebar-nav-holder.vertical-nav gumby-fixed="top" gumby-pin="[data-target='icons']"
      ul#sidebar-nav
          li
            a href="/panoramas/2014" 2014 год
          li
            a href="/panoramas/2013" 2013 год
          li.active
            a href="/panoramas/2012" 2012 год
          li
            a href="/panoramas/2011" 2011 год          
  div#docs-content.ten.columns
    div.row
      div.three.columns
        a href="/panoramas/FlagmanLQ.swf" target="_blank"
          img src="/img/pano/corner_2012.jpg"
          h5 align="center" Блинная        
      div.three.columns
        a href="/panoramas/KirovskyLQ.swf" target="_blank"
          img src="/img/pano/radio_2012.jpg"
          h5 align="center" Радиотовары
        