<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">
  <div class="two columns">
    <nav id="sidebar-nav-holder" class="vertical-nav" gumby-fixed="top" gumby-pin="[data-target='icons']">
      <ul id="sidebar-nav">
        
          <li class="active">
            <a href="/panoramas/2014">2014 год</a>
          </li>
          
          <li>
            <a href="/panoramas/2013">2013 год</a>
          </li>
          
          <li>
            <a href="/panoramas/2012">2012 год</a>
          </li>
          
          <li>
            <a href="/panoramas/2011">2011 год</a>
          </li>              
      </ul>
    </nav>
  </div>
  <div class="ten columns" id="docs-content">
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/Atom.swf" target="_blank">
          <img src="/img/pano/atom_2014.jpg">
          <h5 align="center">Атом</h5>
        </a>      
      </div>
      <div class="three columns">
        <a href="/panoramas/Pancake.swf" target="_blank">
          <img src="/img/pano/blinnaya_2014.jpg">
          <h5 align="center">Блинная</h5>
        </a> 
      </div>
      <div class="three columns">
        <a href="/panoramas/Church.swf" target="_blank">
          <img src="/img/pano/church_2014.jpg">
          <h5 align="center">Церковь</h5>
        </a> 
      </div>              
      <div class="three columns">
        <a href="/panoramas/Malahit.swf" target="_blank">
          <img src="/img/pano/malahit_2014.jpg">
          <h5 align="center">Гостиница "Малахит"</h5>
        </a> 
      </div>
    </div> 
    
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/Tahov.swf" target="_blank">
          <img src="/img/pano/tahov_2014.jpg">
          <h5 align="center">Гостиница "Тахов"</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/Tir.swf" target="_blank">
          <img src="/img/pano/tir_2014.jpg">
          <h5 align="center">Тир</h5>
        </a>
      </div>              
      <div class="three columns">
        <a href="/panoramas/9_may.swf" target="_blank">
          <img src="/img/pano/eternal_flame_2014.jpg">
          <h5 align="center">Вечный огонь</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/Square_park.swf" target="_blank">
          <img src="/img/pano/square_2014.jpg">
          <h5 align="center">Сквер у вечного огня</h5>
        </a>
      </div>          
    </div>  
        
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/stroitelyam.swf" target="_blank">
          <img src="/panoramas/stroitelyam_preview.jpg">
          <h5 align="center">Памятник строителям</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/school7.swf" target="_blank">
          <img src="/panoramas/school7_preview.jpg">
          <h5 align="center">Школа №7</h5>
        </a>
      </div>              
      <div class="three columns">
        <a href="/panoramas/school1.swf" target="_blank">
          <img src="/panoramas/school1_preview.jpg">
          <h5 align="center">Школа №1</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/new_church.swf" target="_blank">
          <img src="/panoramas/new_church_preview.jpg">
          <h5 align="center">Новая церковь</h5>
        </a>
      </div>          
    </div> 
        
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/near_1.swf" target="_blank">
          <img src="/panoramas/near_1_preview.jpg">
          <h5 align="center">Рядом с школой №1</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/galaktika.swf" target="_blank">
          <img src="/panoramas/galaktika_preview.jpg">
          <h5 align="center">Галактика</h5>
        </a>
      </div>              
      <div class="three columns">
        <a href="/panoramas/dvor.swf" target="_blank">
          <img src="/panoramas/dvor_preview.jpg">
          <h5 align="center">Двор</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/dk_2014.swf" target="_blank">
          <img src="/panoramas/dk_preview.jpg">
          <h5 align="center">ДК "Ровесник"</h5>
        </a>
      </div>          
    </div> 
    
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/corner_ll.swf" target="_blank">
          <img src="/panoramas/leningradskaya_lenina_preview.jpg">
          <h5 align="center">Ленинградская-Ленина</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/between_g_12.swf" target="_blank">
          <img src="/panoramas/between_g_12_preview.jpg">
          <h5 align="center">Между Галактикой и 12-этажкой</h5>
        </a>
      </div>              
      <div class="three columns">
        <a href="/panoramas/b_in.swf" target="_blank">
          <img src="/panoramas/boulevar_in_preview.jpg">
          <h5 align="center">Бульвар Алещенкова: арки</h5>
        </a>
      </div>
      <div class="three columns">
        <a href="/panoramas/b_entrence.swf" target="_blank">
          <img src="/panoramas/boulevar_entrance.jpg">
          <h5 align="center">Бульвар Алещенкова: вход</h5>
        </a>
      </div>          
    </div> 
    
    <div class="row" style="padding-bottom: 10px;">
      <div class="three columns">
        <a href="/panoramas/12.swf" target="_blank">
          <img src="/panoramas/12_preview.jpg">
          <h5 align="center">12-этажка</h5>
        </a>
      </div>
      <div class="three columns">
      </div>              
      <div class="three columns">
      </div>
      <div class="three columns">
      </div>          
    </div>     
  </div>
</div>