div.row style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;"
  div.two.columns
    nav#sidebar-nav-holder.vertical-nav gumby-fixed="top" gumby-pin="[data-target='icons']"
      ul#sidebar-nav
          li.active
            a href="/panoramas/2014" 2014 год
          li
            a href="/panoramas/2013" 2013 год
          li
            a href="/panoramas/2012" 2012 год
          li
            a href="/panoramas/2011" 2011 год
  div#docs-content.ten.columns
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/Atom.swf" target="_blank"
          img src="/img/pano/atom_2014.jpg"
          h5 align="center" Атом
      div.three.columns
        a href="/panoramas/Pancake.swf" target="_blank"
          img src="/img/pano/blinnaya_2014.jpg"
          h5 align="center" Блинная
      div.three.columns
        a href="/panoramas/Church.swf" target="_blank"
          img src="/img/pano/church_2014.jpg"
          h5 align="center" Церковь
      div.three.columns
        a href="/panoramas/Malahit.swf" target="_blank"
          img src="/img/pano/malahit_2014.jpg"
          h5 align="center" Гостиница "Малахит"
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/Tahov.swf" target="_blank"
          img src="/img/pano/tahov_2014.jpg"
          h5 align="center" Гостиница "Тахов"
      div.three.columns
        a href="/panoramas/Tir.swf" target="_blank"
          img src="/img/pano/tir_2014.jpg"
          h5 align="center" Тир
      div.three.columns
        a href="/panoramas/9_may.swf" target="_blank"
          img src="/img/pano/eternal_flame_2014.jpg"
          h5 align="center" Вечный огонь
      div.three.columns
        a href="/panoramas/Square_park.swf" target="_blank"
          img src="/img/pano/square_2014.jpg"
          h5 align="center" Сквер у вечного огня
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/stroitelyam.swf" target="_blank"
          img src="/panoramas/stroitelyam_preview.jpg"
          h5 align="center" Памятник строителям
      div.three.columns
        a href="/panoramas/school7.swf" target="_blank"
          img src="/panoramas/school7_preview.jpg"
          h5 align="center" Школа №7
      div.three.columns
        a href="/panoramas/school1.swf" target="_blank"
          img src="/panoramas/school1_preview.jpg"
          h5 align="center" Школа №1
      div.three.columns
        a href="/panoramas/new_church.swf" target="_blank"
          img src="/panoramas/new_church_preview.jpg"
          h5 align="center" Новая церковь         
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/near_1.swf" target="_blank"
          img src="/panoramas/near_1_preview.jpg"
          h5 align="center" Рядом с школой №1
      div.three.columns
        a href="/panoramas/galaktika.swf" target="_blank"
          img src="/panoramas/galaktika_preview.jpg"
          h5 align="center" Галактика
      div.three.columns
        a href="/panoramas/dvor.swf" target="_blank"
          img src="/panoramas/dvor_preview.jpg"
          h5 align="center" Двор
      div.three.columns
        a href="/panoramas/dk_2014.swf" target="_blank"
          img src="/panoramas/dk_preview.jpg"
          h5 align="center" ДК "Ровесник"   
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/corner_ll.swf" target="_blank"
          img src="/panoramas/leningradskaya_lenina_preview.jpg"
          h5 align="center" Ленинградская-Ленина
      div.three.columns
        a href="/panoramas/between_g_12.swf" target="_blank"
          img src="/panoramas/between_g_12_preview.jpg"
          h5 align="center" Между Галактикой и 12-этажкой
      div.three.columns
        a href="/panoramas/b_in.swf" target="_blank"
          img src="/panoramas/boulevar_in_preview.jpg"
          h5 align="center" Бульвар Алещенкова: арки
      div.three.columns
        a href="/panoramas/b_entrence.swf" target="_blank"
          img src="/panoramas/boulevar_entrance.jpg"
          h5 align="center" Бульвар Алещенкова: вход
    div.row style="padding-bottom: 10px;"
      div.three.columns
        a href="/panoramas/12.swf" target="_blank"
          img src="/panoramas/12_preview.jpg"
          h5 align="center" 12-этажка
      div.three.columns      
      div.three.columns      
      div.three.columns