<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">
	<div class="medium danger btn" style="float: right"><a href="/tv">Смотреть Заречный ТВ!</a></div>
	<div class="media">
		<h4 align="center" class="media-headig"><%= @one_news.title %></h4>
		<a class="pull-left" href="#">
			<div class="thumbnail" style="margin-left: 50px">
				<%= image_tag "#{@one_news.image}", :style => "max-width: 250px;" %>
			</div>
		</a>
		<div align="justify" class="media-body" style="margin-left: 50px; margin-bottom: 30px">
			<%= simple_format(@one_news.full_text) %>									
		</div>
		<div class="row">
			<div class="medium primary btn squared" style="float:right;"><%= link_to "Вернуться ко всем новостям", "/novosti"%></div>
		</div>	
	</div>
</div>