div.row style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;"	
	div.media
		h4.media-headig align="center"
		  = @one_news.title
		a.pull-left href="#"
			div.thumbnail style="margin-left: 50px"
				= image_tag "#{@one_news.image}", :style => "max-width: 250px;"			
		div.media-body align="justify" style="margin-left: 50px; margin-bottom: 30px"
			= simple_format(@one_news.full_text)
		div.row
			div.medium.primary.btn.squared style="float:right;"
			  = link_to "Вернуться ко всем новостям", "/novosti"
		