<div class="parallax" gumby-parallax="0.3" id="baes_1"></div>	

<div class="row" style="padding-top: 40px;">
	<div class="twelve columns">
		<p>Белоярская АЭС открыла в нашей стране эпоху большой атомной энергетики: в апреле 1964 года начал выработку электроэнергии её первый энергоблок. С тех пор вот уже полвека атомная станция стабильно несёт нагрузку в базовой части графика Свердловской энергосистемы.</p>

		<h3>ПЕРВЫЕ БЛОКИ</h3>

		<p>Белоярская АЭС – единственная атомная станция России с реакторами разных типов на одной площадке. Её первый (1964–1981г.г.) и второй (1967–1989г.г.) энергоблоки имели водографитовые канальные реакторы на тепловых нейтронах АМБ-100 и АМБ-200 («Атом Мирный Большой»). Кроме производства электроэнергии, они внесли большой вклад в становление технологий атомной энергетики: на них отрабатывались различные виды топлива и конструкционных материалов, компоновочные схемы и технические решения, эксплуатационные режимы. Например, освоен перегрев пара непосредственно в реакторе, что позволило применить для АЭС турбины обычных тепловых электростанций.</p>

		<p>В настоящее время эти энергоблоки эксплуатируются «в режиме остановленного блока», то есть не работают и готовятся к выводу из эксплуатации. Отработавшее ядерное топливо выгружено из реакторов и хранится в приреакторных бассейнах выдержки в ожидании вывоза на переработку на специализированное предприятие. Сами реакторы и другое оборудование энергоблоков законсервировано для длительного хранения под наблюдением. По прошествии нескольких десятилетий оно будет демонтировано и утилизировано.</p>
	</div>
</div>


<div class="row" style="padding-bottom:40px;">
	<div class="twelve columns">
		<h3>ЕДИНСТВЕННЫЙ В МИРЕ</h3>

		<p>Сегодня на Белоярской АЭС работает только энергоблок № 3 с реактором на быстрых нейтронах и натриевым теплоносителем БН-600 («Быстрый Натриевый»). Он вырабатывает порядка 8% электрической мощности региональной энергосистемы. Главное же его достижение – освоение и развитие технологии быстрых реакторов. Именно благодаря успешной работе БН-600 Россия сохраняет мировое лидерство в данной сфере. За эти заслуги Белоярская АЭС была награждена Орденом Трудового Красного Знамени.</p>

		<p>Блок № 3 (БН-600) был включен в энергосистему в апреле 1980 года. На сегодня это единственный в мире энергоблок с быстрым реактором промышленного уровня мощности, который успешно продолжает работу столь длительное время.</p>

		<p>Вследствие его уникальности не имелось статистических данных о ресурсных возможностях оборудования в длительной перспективе, поэтому расчётный срок эксплуатации назначили исходя из минимальных значений. В 2010 году, после материаловедческого обследования незаменяемых элементов и замены остального оборудования, была получена лицензия Ростехнадзора на продление расчётного срока эксплуатации до 2020 года с возможностью дальнейшего продления. В ходе подготовки энергоблока к продлению эксплуатации, которая продолжалась свыше пяти лет, была произведена масштабная модернизация всего оборудования, от турбогенераторов до информационно-вычислительных систем, от активной зоны реактора до систем перегрузки топлива, от системы радиационного контроля до каналов надёжного электропитания. Также были смонтированы дополнительные системы, повышающие безопасность энергоблока: например, теперь имеется возможность расхолаживания реактора путём естественной циркуляции через воздушный теплообменник, появился запасной пункт управления, дублирующий системы останова реактора и его поддержания в безопасном состоянии, и т.д. В продлённый срок эксплуатации БН-600 вступил полностью обновлённым, соответствующим самым строгим мировым требованиям, применяемым к новым современным энергоблокам.</p>
	</div>
</div>

<div class="parallax" gumby-parallax="0.3" id="baes_2"></div>	

<div class="row" style="padding-top:40px; padding-bottom:40px;">
	<div class="twelve columns">
		<p>По своим конструкционно-технологическим особенностям БН-600 относится к наиболее безопасным и экологически чистым реакторам. Он обладает свойством самозащищённости: то есть, при отклонении от нормального режима работы останавливает ядерную реакцию сам, в силу естественных законов природы, даже если не получит команду от человека или автоматики. В корпусе реактора отсутствует высокое давление (оно всего лишь чуть выше обычного атмосферного), а сам корпус состоит из двух (основного и страховочного), вложенных друг в друга по принципу матрёшки. К тому же реактор имеет интегральную компоновку: всё оборудование первого контура, подвергающееся радиационному воздействию, заключено внутрь его корпуса. Большая теплоёмкость и большой температурный запас у теплоносителя – жидкого натрия – в течение нескольких суток не позволит реактору перегреться, даже если он останется вообще без охлаждения.</p>

		<h3>НА ПЕРЕХОДНОМ ЭТАПЕ</h3>

		<p>Белоярская АЭС находится на стратегическом направлении развития атомной отрасли, связанном с отработкой элементов замкнутого ядерно-топливного цикла и переходом к новой технологической платформе. Это позволит вовлечь в полезный производственный цикл неиспользуемый сегодня изотоп природного урана, то есть в десятки раз увеличит топливную базу атомной энергетики. Кроме того, позволит повторно использовать отработавшее ядерное топливо других АЭС и минимизировать радиоактивные отходы, «дожигая» из них долгоживущие изотопы.</p>
		<p>Окончательную отработку элементов замкнутого ядерно-топливного цикла с использованием смешанного уран-плутониевого топлива призван осуществить энергоблок № 4 с быстрым реактором БН-800 Белоярской АЭС, сооружение которого в эти дни вышло на финишный этап. Первый этап физического пуска реактора БН-800 начался в декабре 2013 года, а энергопуск – начало выработки электроэнергии – запланирован на 2014 год.</p>
		<p>Решение о строительстве на Белоярской АЭС энергоблоков № 4 (БН-800) и № 5 (БН-1600) Совет Министров СССР утвердил ещё в 1983г. Однако распад Советского Союза и экономические катаклизмы 1990-х надолго «заморозили» строительство. Его активизация произошла только в двухтысячных годах.</p>
	</div>
</div>

<div class="parallax" gumby-parallax="0.3" id="baes_3"></div>	

<div class="row" style="padding-top:40px; padding-bottom:40px;">
	<div class="twelve columns">
		<h3>НА ПЕРЕХОДНОМ ЭТАПЕ</h3>

		<p>Белоярская АЭС находится на стратегическом направлении развития атомной отрасли, связанном с отработкой элементов замкнутого ядерно-топливного цикла и переходом к новой технологической платформе. Это позволит вовлечь в полезный производственный цикл неиспользуемый сегодня изотоп природного урана, то есть в десятки раз увеличит топливную базу атомной энергетики. Кроме того, позволит повторно использовать отработавшее ядерное топливо других АЭС и минимизировать радиоактивные отходы, «дожигая» из них долгоживущие изотопы.</p>
		<p>Окончательную отработку элементов замкнутого ядерно-топливного цикла с использованием смешанного уран-плутониевого топлива призван осуществить энергоблок № 4 с быстрым реактором БН-800 Белоярской АЭС, сооружение которого в эти дни вышло на финишный этап. Первый этап физического пуска реактора БН-800 начался в декабре 2013 года, а энергопуск – начало выработки электроэнергии – запланирован на 2014 год.</p>
		<p>Решение о строительстве на Белоярской АЭС энергоблоков № 4 (БН-800) и № 5 (БН-1600) Совет Министров СССР утвердил ещё в 1983г. Однако распад Советского Союза и экономические катаклизмы 1990-х надолго «заморозили» строительство. Его активизация произошла только в двухтысячных годах.</p>
		<p>Энергоблок БН-800 эволюционно продолжает конструкторско-технологические достижения своих предшественников: БН-600 (Белоярская АЭС), БН-350 (Мангышлакский атомно-энергетический комбинат), исследовательских и опытно-демонстрационных быстрых реакторов. Кроме того, в русле современных тенденций, в нём воплощён ряд дополнительных систем безопасности пассивного принципа, то есть работающих в силу физических законов природы. Среди них, например, дополнительная система противоаварийного расхолаживания реактора путём естественной циркуляции воздуха через теплообменники, дополнительная система противоаварийной защиты на основе стержней, взвешенных («плавающих») в потоке натрия. Внутри корпуса реактора смонтировано устройство «Поддон», способное в случае необходимости удержать расплав топлива.</p>
		<p>В ходе сооружения БН-800 были восстановлены производственные связи между научными, проектными, конструкторскими, строительными, монтажными организациями, заводами-изготовителями оборудования, наработан опыт сооружения крупных стратегических объектов в новых экономических условиях.</p>
		<p>Сам процесс сооружения энергоблока породил немало технологических новшеств. Например, параллельно со строительством главного корпуса проводился монтаж реактора из укрупнённых блоков, для чего был создан временный монтажный павильон с микроклиматическими условиями «чистой зоны». А для стыковки арматуры был внедрён прогрессивный метод «холодного обжима», что позволило ускорить процедуру и избежать энергоёмких сварочных работ.</p>
	</div>
</div>

<div class="parallax" gumby-parallax="0.3" id="baes_4"></div>	

<div class="row" style="padding-top:40px; padding-bottom:40px;">
	<div class="twelve columns">
	<h3>НА ГОРИЗОНТЕ – ПЯТЫЙ</h3>

	<p>Дальнейшее расширение Белоярской АЭС предусматривается энергоблоком № 5 с головным образцом серийного реактора БН-1200, предназначенного работать в коммерческом режиме эксплуатации. Помимо воплощения лучших эксплуатационных, конструкторских и технологических достижений своих предшественников меньшей мощности, он призван решить важную задачу: достичь экономических показателей, которые обеспечат конкурентоспособность по сравнению с серийным реактором на тепловых нейтронах ВВЭР сопоставимого уровня мощности.</p>
	<p>Инфраструктура промплощадки изначально была рассчитана на совместную работу энергоблоков № 4 и № 5, поэтому строительство будет выполнено быстрее и дешевле. Кроме того, в будущем энергоблоке за счёт современных проектно-конструкторских разработок существенно снижена материалоёмкость строительных сооружений и оборудования. Позитивное влияние на себестоимость окажет и переход от уникальности энергоблоков БН-600 и БН-800 к типовому проекту для серийного строительства.</p>
	<p>В проекте БН-1200 воплощаются наивысшие, максимально достижимые принципы безопасности, поэтому при любых, даже самых тяжёлых гипотетических обстоятельствах все последствия будут локализованы в пределах промплощадки, без каких-либо воздействий на окружающую среду. Полувековой российский опыт отработки технологии быстрых натриевых реакторов привёл к «венцу творения» в данной сфере.</p>

	<h3>ВОЗРАСТ ЗРЕЛОСТИ</h3>

	<p>За полвека Белоярскую АЭС возглавляли В.П.Невский, В.М.Малышев, О.М.Сараев, Н.Н.Ошканов. Сейчас директором является М.В.Баканов.</p>
	<p>В 2014 году Белоярская АЭС встретит золотой юбилей весомыми трудовыми заслугами: многолетней успешной безаварийной эксплуатацией БН-600, пуском нового энергоблока БН-800 и серьёзными планами по размещению головного образца БН-1200. Достойное прошлое, уверенное настоящее, перспективное будущее – Белоярской АЭС в полной мере присуща эта формула, определяющая жизненный успех юбиляра.</p>
	<p>Главной же ценностью атомной станции является её трудовой коллектив, обладающий высоким профессионализмом, накопивший уникальный по мировым меркам опыт, воплощающий высокую культуру производства и способный решать задачи любого уровня сложности.</p>
	<h5 align="right">Роман ТОПОРКОВ</h5>
	<h5 align="right">Фото: Сергей ТЕН</h5>
	</div>
</div>

		