<div class="history">
	<div class="history_layer">
		<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">	
			<div class="twelve columns">
				<div class="grow pic">
					<a href="/attractions/gorod-zarechny">
						<img src="/images/about_city/menu/city.jpg">			
					</a>					
				</div>
				<div class="grow pic">
					<a href="/baes">
						<img src="/images/about_city/menu/b.jpg">
					</a>
				</div>
				<div class="grow pic">
					<a href="/karnaval">
						<img src="/images/about_city/menu/k.jpg">
					</a>					
				</div>
				<div class="grow pic">
					<a href="/schools">
						<img src="/images/about_city/menu/s.jpg">
					</a>					
				</div>
				<div class="grow pic">
					<a href="/companies">
						<img src="/images/about_city/menu/p.jpg">
					</a>					
				</div>
				<div class="grow pic">
					<a href="/msch">
						<img src="/images/about_city/menu/m.jpg">
					</a>					
				</div>
				<div class="grow pic">
					<a href="/city-and-neighborhood">
						<img src="/images/about_city/menu/sosedi.jpg">
					</a>
				</div>
				<div class="grow pic">
					<a href="/attractions">
						<img src="/images/about_city/menu/bul.jpg">
					</a>					
				</div>
				<div class="grow pic">
					<a href="/telecenter">
						<img src="/images/about_city/menu/tv.jpg">
					</a>					
				</div>
			</div>
		</div>
	</div>	
</div>