<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">	
	<div class="twelve columns">
		<div class="media">
			<h4 align="center" class="media-heading"><%= @one_article.title %></h4>
			<a class="pull-left" href="#">
				<div class="thumbnail">
					<%= image_tag "#{@one_article.image}" %>
				</div>
			</a>
			<div align="justify" class="media-body" style="margin-bottom: 30px">
				<%= simple_format(@one_article.full_text) %>
			</div>
		</div>
	</div>
</div>