div.row style="padding-top: 60px; padding-bottom: 20px; min-height: 900px;"	
	div.twelve.columns align="center"
		h4 Карта Заречного Свердловской области
		div#map style="height:768px; width:1024px; border: 1px solid #222"

script src="js/OpenLayers.js"

script
	|map = new OpenLayers.Map("map");
	|map.addLayer(new OpenLayers.Layer.OSM());
	|map.zoomToMaxExtent();
	|var lonLat = new OpenLayers.LonLat(61.316667, 56.800000)
	|      .transform(
	|        new OpenLayers.Projection("EPSG:4326"),
	|        map.getProjectionObject()
	|      );
	|var school1 = new OpenLayers.LonLat(61.319200, 56.799200)
	|      .transform(
	|        new OpenLayers.Projection("EPSG:4326"),
	|        map.getProjectionObject()
	|      );
	|var zoom=16;
	|
	|var markers = new OpenLayers.Layer.Markers("Markers");	
    |map.addLayer(markers);     
    |var marker = new OpenLayers.Marker(school1);
	|marker.id = "1";	
    |markers.addMarker(marker);
    |marker.events.register('mousedown', marker, 
    |function(evt) { 
    |    window.location.href = "/panoramas/school1"; OpenLayers.Event.stop(evt); 
    |	}
	|);
	|map.setCenter (lonLat, zoom);		