<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 800px;">

	<div class="four columns">		
		<div style="margin-left: 20px">
			<h5>МАУ ГОЗ "ГОРОДСКОЙ ТЕЛЕЦЕНТР"</h5>
			<p><b>Адрес:</b> г. Заречный, ул. АЛЕЩЕНКОВА, 22/А</p>
			<p>
				Директор /34377/ 7-11-41,<br>
				Редакция СМИ /34377/ 7-11-72,<br>
				Бухгалтерия /34377/ 7-15-54,<br>
				Главный бухгалтер /34377/ 3-32-50,<br>
				Рекламная группа /34377/ 7-55-85<br>
			</p>
			<p><b>e-mail:</b> zartv2010@yandex.ru</p>
			<p><b>Время работы:</b><br>
				&nbsp&nbsp&nbsp&nbspпн-пт 08.00-17.00 (12.00-13.00)<br>
				&nbsp&nbsp&nbsp&nbspсб-вс выходной
			</p>
		</div>		
	</div>

	<div class="eight columns">
		<center>
			<iframe width="640" height="480" src="http://www.youtube.com/embed/videoseries?list=UUg1USJj9q1qIrAzC2TYqoLQ&amp;hl=ru_RU" frameborder="0" allowfullscreen=""></iframe>		
		</center>
	</div>
</div>